$sienna: #824A14;
$siennaLight: #a25d1a;
$green: #A79A34;
$greenLight: #C4B01E;

$yellow: #FFCF00;
$yellowLight:#FFEC00;
$yellowDark:#fec800;

$black: #35311C;
$blackGreen: #524d21;

$altblack: #211e18;

$orange: #CFA02B;

$brickOrange:#f06d06;

$bzOrange: #e98822;

$white:#ffffff;

$cream:#fcfcf4;
$creamDark:#fdfde9;

$yellow: #FFE800;
$brown: #404040;
$blue: #1CD3F8;
$angle: 8px;
$angle-o: 4px;

$gray:#222;

$portfolioDark:#5a4538;
$portfolioGray:#e2e6e8;
$portfolioPink:#f2e7d9;

$breadcrumbs:#6b6b6b;
