/* Navigation */

@import "colors";

nav {

		border-radius: 0!important;
		color:$white;

		h1 {
			margin:0;
			font-size:2.3em;
		}

		h2 {
			margin:0;
		}

		li {
			 margin-right:10px
		}

		svg {
			width:30px;
			fill:$white;
			@media (max-width: 820px){
				width:44px;
			}

			@media (max-width: 400px){
				width:30px;
			}



			&:hover.twitter {
				fill:#00ACEE;
			}
			&:hover.linkedIn {
				fill:#00a0dc;
			}
			&:hover.github {
				fill:#6cc644;
			}
			&:hover.flickr {
				fill:#216bd6;
			}
			&:hover.behance {
				fill:#1769ff;
			}

		}

		.navbar-brand svg {
			width:336px;
			height:81px;
			@media (max-width: 500px){
				width:240px;
				height:56px;
			}
		}

		a {
			color:white;
			text-decoration: none;
			padding-right:0!important;
			padding-left:0;
			&:hover {
				color:$white;
				text-decoration: none;
				background-color: initial!important;
			}
			&:active {
				color:$white;
			}
			&:focus {
				color:$white;
				text-decoration: none;
			}
		}

		.navbar-toggle {
			margin-right:0;
		}
		.icon-bar {
			border:2px solid $white;
		}
		.navbar-nav {

		}


	} /* end navigation */


	nav.socials {

			h1 {
				margin:0;
				font-size:2.3em;
			}

			li {
				 margin-right:0;
			}

			svg {
				width:95px;
				fill:$altblack;
				@media (max-width:768px){
					width:75px;
				}
				&:hover.twitter {
					fill:#00ACEE;
				}
				&:hover.linkedIn {
					fill:#00a0dc;
				}
				&:hover.github {
					fill:#6cc644;
				}
				&:hover.flickr {
					fill:#216bd6;
				}
				&:hover.behance {
					fill:#1769ff;
				}

			}

			li {
				width:25%;
				text-align: center;
			}


		} /* end navigation */



		@media (min-width: 992px) {
		  .navbar-expand-lg .navbar-collapse {

		    justify-content: end;
		  }
		}

	@media (max-width: 768px) {

		.navbar-collapse{
			overflow:hidden;
			border:none;
			box-shadow:none;
		}

		.navbar-nav li div {
			margin:0
		}

		.recentWork {
			width: 85px;
			height: 85px;
			transition:all 1s ease-out;
		}

		.contact {
			width: 85px;
			height: 85px;
			transition:all 1s ease-out;
		}

		.branding{
			width: 85px;
			height: 85px;
			transition:all 1s ease-out;
		}

	}

	.text {
	  fill:#fff;
	}
