.emails-container {
		background:url('https://res.cloudinary.com/jryandoherty/image/upload/v1670525303/graffiti_bottom_01_wcsfde.png')no-repeat bottom center/1250px;
		/*background:url('/img/triangleAsymmetrical.svg')no-repeat center 64px/100% $cream;*/

	.container {
		max-width:1024px!important;
	}

	.crumbs {
		font-size:85%;
		padding:0 0 12px 0;
		border-bottom:1px solid $breadcrumbs;
		}

		@media(max-width:1100px){
			.crumbs{
			text-align:center;
			}
		}
}

.emails {

	margin:0 auto;
	display:flex;
	justify-content: center;
	flex-direction: row;

	@media(max-width:1100px) {
		width:95%;
		flex-direction: column;
		align-items: center;
	}

	@media(min-width:1600px) {
		max-width:1170px;
	}

}


.desktop {
	height:594px;
	width:740px;
	background: url('https://res.cloudinary.com/jryandoherty/image/upload/v1667588066/email-client_uxawba.png')no-repeat top center;
	-ms-zoom: 0.85;
	-moz-transform: scale(0.85);
	-moz-transform-origin: top center;
	-webkit-transform: scale(0.85);
	-webkit-transform-origin: top center;
	padding:0;
	box-shadow:0 0 5px $sienna;
	border-radius: 5px;
	margin-top:2%;
	margin-left: 25px;

	object {
		margin: 115px auto 0 ;
		height: 478px;
		width:740px;
	}

	@media(max-width:1100px) {
		-moz-transform-origin: top center;
		-webkit-transform-origin: top center;
	}

	@media(max-width: 767px){
		display:none;
	}
}


.mobile {
	width:430px;
	min-height:808px;
	background: url('https://res.cloudinary.com/jryandoherty/image/upload/v1667588066/phone_wguetm.png')no-repeat top center;
	-ms-zoom: 0.70;
	-moz-transform: scale(0.70);
	-moz-transform-origin: top center;
	-webkit-transform: scale(0.70);
	-webkit-transform-origin: top center;

	object {
		margin: 110px auto 0;
		border: 1px gray solid;
		height: 589px;
		width:332px;
		margin-left: 50px;
	}


	@media(max-width:1100px) {
		-moz-transform-origin: top center;
		-webkit-transform-origin: top center;
	}

}


.webpage-container {

}


.webpage {
	margin:0 auto;
	-ms-zoom: 0.85;
 -moz-transform: scale(0.85);
 -moz-transform-origin: top center;
 -webkit-transform: scale(0.85);
 -webkit-transform-origin: top center;

	@media(max-width:768px) {
		width:100%;
	}

	@media(min-width:1400px) {
		width:1380px;
	}

	@media(min-width:1600px) {
		width:1480px;
	}

	.col-lg-6:last-of-type {
		text-align:right;
		@media(max-width:1199px) {
		text-align:center;
		}
	}

	.col-lg-3, .col-lg-4 {
		padding-right:50px;
	}

	.col-lg-8, .col-lg-7 {
		padding: 0;
	}

	.row:first-of-type {
	 	margin-bottom:2%;
		align-items: center;
 	}

	.row:nth-of-type(2) {
		margin-bottom:4%;
	}

	.row:last-of-type {

	}

	pre {
		height:640px;
		overflow-y: scroll;
	}

	iframe, object {

		min-height:700px;
		height:768px;
		width:100%;
		margin-bottom:3rem;

		--scrollbarBG: #211e18;
		--thumbBG: #ff863e;
			scrollbar-width: thin;
			scrollbar-color: var(--thumbBG) var(--scrollbarBG);

		border: 1px solid $altblack;
	 	box-shadow:  1px 1px $altblack,
	 		 2px 2px $altblack,
	 		 3px 3px $altblack,
	 		 4px 4px $altblack,
	 		 5px 5px $altblack,
			 6px 6px $altblack,
			 7px 7px $altblack;
	}

	.legend {
		font-size:115%;
		@media(max-width:480px){
			font-size:90%;
		}
	}

	.crumbs {
		font-size:100%;
		border-bottom:1px solid $breadcrumbs;
		padding-right:0!important;
		@media(max-width:480px){
			font-size:90%;
		}
	}

}/* end webpage */


.legend {

margin:2rem auto;

	@media (max-width:768px) {
			position:static;

	}

	h2 {
		font-size: 1.3em;
		margin-bottom:12px;
	}

	ul {
		list-style-type: none;
		text-align: left;
		margin: 0;
		padding:0;
	}

	li {
		margin:0 0 4px 0;
	}

	a:not([href*="github"]){
    background: transparent url('https://res.cloudinary.com/jryandoherty/image/upload/v1669751611/new-window-svgrepo-com_uzxb5h.svg') no-repeat top right;
		background-size:18px;
		padding-right:24px;
	}



	a {
	 color:$siennaLight
	}

	svg {
		width:44px;
		height:44px;
		&:hover {
			fill:#6cc644;
		}
	}

}

.screenshot {


	.row:first-of-type {
	 	margin-top:2rem;
		-ms-zoom: 0.85;
	 -moz-transform: scale(0.85);
	 -moz-transform-origin: top center;
	 -webkit-transform: scale(0.85);
	 -webkit-transform-origin: top center;

 	}

	.row:nth-of-type(2) {
		margin-bottom:4%;
	}



	.legend {
		font-size:115%;
		margin:0;

	}
	+ footer {
		background:url('https://res.cloudinary.com/jryandoherty/image/upload/v1649268210/bg_brick_l0esqj.webp') $altblack;
		background-size:cover;
	}
}


.three-screens {
	width:700px;
	height:auto;
	max-width: 100%;


}

.four-screens {
	width:1000px;
	height:auto;
	max-width: 100%;
	display:block;
	margin:0 auto;
}


.thumbnail-webpage {
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
		max-width:500px;
		margin-top:20px;


		img {
			width:150px;
			height:100px;
			box-shadow: 1px 2px 3px $sienna;
			@media (max-width:460px){
				width:110px;
				height:auto;
			}
		}

		a {
			&:hover{
				width:1200px;
			}
		}

		p {
			padding:20px 0;
		}

		& >* {
			flex: 1 1;
		}
}

.carousel-indicators {
	position:static;
	margin-left: 2px;
	text-align:left;
}

.carousel-indicators li {
    width:15px;
    height: 15px;
		margin:0;
    background-color: $gray;
		border:0;
    border-radius: 50%;
}

.carousel-indicators .active {
    width: 15px;
    height: 15px;
		border:0;
    background-color: $siennaLight;
}

.carousel-control {
	width:0;
}

.carousel img {
	box-shadow: $sienna 2px 2px 4px;
	margin-bottom:3rem;
	margin-top:1rem;
	width: 85%;
	border-top:1px solid $sienna;
	border-left:1px solid $sienna;
}

.item {
	text-align: center;
}

.project-flow {
	display:flex;
  max-width: 1200px;
  align-items:center;
	margin:20px auto 0;

	.item {
	  flex:1;
	  text-align:center;
		font-size:110%;
		&:first-child {
			text-align: left;
			margin-left:20px;
		}
		@media(max-width:768px){
			font-size:1em;
		}
	}
}

.project-flow-img {
	max-width:100%;
	width:800px;
	margin:3rem auto;
	display:block;
}
