@import "colors";


.scroll {
	white-space: nowrap;
	overflow-x: scroll;
	webkit-overflow-scrolling: touch;
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none;  /* IE 10+ */

  &::-webkit-scrollbar {
    background: transparent; /* Chrome/Safari/Webkit */
    width: 0px;
		height:0px;
	}
}

.btn {
	width: 16.66%;
	text-transform: uppercase;
	min-width:120px;
	border-radius: 0;
	height:50px;
	padding:12px;

	&:hover{
		filter: brightness(1.2);
	}

	&:nth-child(1){
		background:$sienna;
	}

	&:nth-child(2){
		background:$siennaLight;
	}

	&:nth-child(3){
		background:$green;
	}

	&:nth-child(4){
		background:$greenLight;
	}

	&:nth-child(5){
		background:$yellowDark;
		color:#333;
	}

	&:nth-child(6){
		background:$yellow;
		color:#333;
	}

} /* end button */



.nav-tabs {
	border-bottom:none;
}

.nav-tabs a.active {
  color: $altblack;
	background:$creamDark!important;
	border:2px solid $blackGreen;
	border-bottom: none;
	padding: 17px 0 17px 0;
	height: 62px;
	box-shadow: none!important;
	/*transform: scale(1, 1.5);*/
	transition:  height .5s linear;

	&:first-child {
		border-left:none;
	}
	&:hover {
		filter: brightness(1);
	}
}

.tab-pane.active {
	border-top:2px solid $blackGreen;
	background:$creamDark!important;
	margin-top:-3px;
	transition:  margin .5s linear;
}


.thumbnails {
	padding:5%;
	text-align: center;

	h2 {
		margin:0 auto 40px;
		@media (max-width:768px){
			margin:30px auto 40px;
		}
	}

	a {
    margin:10px 13px;
		display: inline-block;

		/*	&:nth-child(3n) {
			width:240px;
			height:auto;
		}

			&:nth-child(2n) {
			width:300px;
			height:auto;
		}*/
	}


	img {
		width:240px;
		min-height:100px;
    height:auto;
		max-width: 100%;
		box-shadow: 1px 2px 3px $sienna;
		border:1px solid $sienna;
	}

	img:hover {
		transform: scale(1.08);
		transition: all .5s ease-out;
	}

	img.mobile {
		border:none;
		box-shadow:none;
		display:block;
	}

	a.mobile {
		display:block;
	}

}

.ads {
	padding:5%;
	text-align: center;

	h2 {
		margin:0 auto 40px;
		font-size: 2.2em;
	}

	img {
		margin: 0 10px 10px 0;
		box-shadow: 1px 2px 3px $sienna;
		border:1px solid $sienna;
	}
	.square {
		max-width: 240px;
		height:auto;
	}

	.rectangle {
		max-width: 340px;
		height:auto;
	}
}


.logos {
  text-align:center;
	padding:5% 0;

	h2 {
		padding: 0px 10px 3px 17px;
		font-size: 2.2em;
	}

	img {
    width:240px;
    height:auto;
    margin:30px 33px;
		display: inline-block;

		/*	&:nth-child(3n) {
			width:300px;
			height:auto;
		}

			&:nth-child(2n) {
			width:240px;
			height:auto;
		}*/
	}

}
