@import "files/colors";

html, body {
	width: 100%;
	height: 100%;
	font-size: 17px;
	color:$black;
	/*background:url('https://res.cloudinary.com/jryandoherty/image/upload/v1670525303/graffiti_home_02_rxuvdz.png')no-repeat 185px 94px/600px;*/
	/*scroll-behavior: smooth;*/
	/*image-rendering: -webkit-optimize-contrast;*/
	background: $cream!important;
}

main {
	p, li, a {
		font-family: 'Source Code Pro', monospace;
		text-align: left;
	}

	h1, h2 {
		margin:3rem auto 1rem;
		font-family: 'Nova Round', cursive;
	}

	h3 {
		font-family: 'Nova Round', cursive;
		padding:1.2rem;
		background:$sienna;
		color:$white;
		display: inline-block;
	}

	a {
		color:$sienna;
		text-decoration: none;
		&:hover {
			color:$siennaLight;
		}
	}

}

.navbar {
	position:relative!important;
	background:none!important;
}

.navbar-expand {
  flex-wrap: wrap!important;
}

.divider {
	width:100%;
	height:6px;
}


.secondary {

.brick {
	height:40vh;

@media (min-width: 1280px){
	h1 {
		font-size:4rem;
	}
	h2 {
		font-size:1rem;
	}
}

}

}/* end secondary styles */




.brick {

	background:radial-gradient(circle, rgba(240, 109, 6, .24), transparent),
	url('https://res.cloudinary.com/jryandoherty/image/upload/v1649268210/bg_brick_l0esqj.webp') center center no-repeat $altblack;
	background-size:  cover, cover;
	overflow:hidden;
	color:$white;
	position:relative;
	height:70vh;
	display:flex;
	align-items: center;
	justify-content: center;
  /*mix-blend-mode: hard-light;*/
	@media(max-width:768px) {
		background-size: cover, 900px, cover;
	}


	h1 {
		font-size:max(6.1vw, 1.23rem);
		word-spacing: -.2ch;
		letter-spacing: -2px;
		font-family: 'Nova Round', serif;
		margin-right:1rem;
		/*-webkit-text-stroke-width: 2px;
		-webkit-text-stroke-color:$white;*/


		@media(min-width:1280px) {
			font-size:5rem;
		}

	/*	@media(max-width:1024px) {
			font-size:max(7.1vw, 1.23rem);
			transition: all .5s ease-out;

		}*/

		@media(max-width:768px) {
			font-size:3.3em;
			transition: all .5s ease-out;
			margin-right:0;
		}

		@media(max-width:500px) {
			font-size:2.75em;
			transition: all .5s ease-out;
			margin-right:0;
		}

	}

	h2 {
		font-family: 'Source Code Pro', monospace;
		font-size:1.4vw;
		letter-spacing: .10em;
		margin:-3% 0 0 33%;


		@media(min-width:1280px) {
			font-size: 1.25rem;
		}


		@media(max-width:768px) {

			font-size: 0.78em;
			letter-spacing: .13em;
			transition: all .5s ease-out;
			margin: -4% 0 5% 30%;
		}

		@media(max-width:500px) {

			font-size: .72em;
			letter-spacing: .11em;
			transition: all .5s ease-out;
		}
	}

	a {
		color:white;
		text-decoration: none;

	}


	nav {
		padding:0;
		background:none;

		ul {
			float:none
		}

		.navbar-right {
			float:left!important;
			margin-left:40px;

		}
		.navbar-collapse {
			padding-left:0!important;
		}
		.nav > li > a {
			padding: 20px 20px 0 0;
			&:hover{
				background:none;
			}

		}
	} /* end brick nav */




.container-fluid {
	display: flex;
	align-items: center;
	width:auto;

	@media(max-width:768px) {
		flex-direction: column;
	}
}

.col-lg-6 {
	width:auto;
}

.logo {
	min-width:400px;
	@media(max-width:768px) {
		min-width:auto;
	}
	img {
		width:320px;
		@media(max-width:768px) {
			width:270px;
		}
	}

}



}   /* end brick section */

.about-section {
	padding:5% 5%;
	@media(max-width:768px) {
		background-size: 900px;
	}

	h1, h2 {
		margin-top:0;
		font-family: 'Nova Round', cursive;
	}

	img {
		width:100%;
		max-width:520px;
		height:auto;
		margin: 0 auto;
		display:block;
	}

	.bio {
		font-family: 'Source Code Pro', monospace;
		padding-bottom:2rem;
		@media (max-width:500px){
			font-size: 1em;
		}
	}

	div:nth-child(2){
		background-size: 600px;
	}
} /* end about section */





.nav-pills {

	white-space: nowrap;
	overflow-x: scroll;
	webkit-overflow-scrolling: touch;
	scrollbar-width:none; /* firefox */
	-ms-overflow-style: none;  /* IE 10+ */
	padding: 4px 0;
	display: flex;
	justify-content: center;
	flex-wrap: nowrap!important;

	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
	background:$altblack;

  &::-webkit-scrollbar {
    background: transparent; /* Chrome/Safari/Webkit */
    width: 0px;
		height:0px;
	}

	@media (max-width: 850px){
		justify-content: left;
		&::-webkit-scrollbar-thumb{
			background:#757575;
			border-radius: 20px;
			height:3px;
		}

		&::-webkit-scrollbar {
			background: $gray; /* Chrome/Safari/Webkit */
			width:auto;
			height:auto;

		}
			scrollbar-width:auto; /* firefox */
			-ms-overflow-style:auto;  /* IE 10+ */
	}


}/* end scroll classes */

.nav-item {
	width: 15.00%;
	min-width:140px;
	border-radius: 17px;
	margin:10px 3px;
	/*height:50px;
	padding:12px;*/
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
	text-align: center;


	&:hover{
		filter: brightness(1.2);
	}

	&:nth-child(1){
		background:$sienna;
	}

	&:nth-child(2){
		background:$siennaLight;
	}

	&:nth-child(3){
		background:$green;
	}

	&:nth-child(4){
		background:$greenLight;
	}

	&:nth-child(5){
		background:$yellowDark;
	}

	&:nth-child(6){
		background:$yellow;
	}

} /* end button */


.nav-link {
	font-family: 'Source Code Pro', monospace;
	text-transform: uppercase;
	display: inline;
	width:100%;
	color:$white!important;
}



.nav-tabs {
	border-bottom:none;
}

.nav-pills .nav-link.active {
	background:$altblack!important;
}

.active {
  color: $altblack;
	box-shadow: none!important;
	border: none!important;
	/*padding: 17px 0 17px 0;
	height: 62px;
	box-shadow: none!important;*/
	/*transform: scale(1, 1.5);*/
	transition:  height .5s linear;

	&:first-child {
		border-left:none;
	}
	&:hover {
		filter: brightness(1);
	}
}

.tab-pane.active {
	/*border-top:2px solid $blackGreen;
	background:$creamDark!important;
	margin-top:-3px;*/
	transition:  margin .5s linear;
}


.thumbnails {
	padding:5%;
	text-align: center;

	h2 {
		font-family: 'Nova Round', cursive;
		margin:0 auto 3rem;
		font-size: 3rem;
		@media (max-width:768px){
			margin:30px auto 40px;
		}
	}

	a {
    margin:10px 13px;
		display: inline-block;

		/*	&:nth-child(3n) {
			width:240px;
			height:auto;
		}

			&:nth-child(2n) {
			width:300px;
			height:auto;
		}*/
	}


	img {
		width:740px;
		min-height:100px;
    height:auto;
		max-width: 100%;

	}

	img:hover {
		transform: scale(1.01);
		transition: all .3s ease-out;
	}

	img.mobile {
		border:none;
		box-shadow:none;
		display:block;
	}

	a.mobile {
		display:block;
	}

}

.ads {
	padding:5%;
	text-align: center;

	h2 {
		font-family: 'Nova Round', cursive;
		margin:0 auto 3rem;
		font-size: 3rem;
		@media (max-width:768px){
			margin:30px auto 40px;
		}
	}

	img {
		margin: 10px 13px;
		box-shadow: 1px 2px 3px $sienna;
		border:1px solid $sienna;
		@media(max-width:768px){
			margin:10px auto;
		}
	}
	.square {
		max-width: 240px;
		height:auto;
	}

	.rectangle {
		width: 340px;
		max-width:100%;
		height:auto;
	}
}


.logos {
  text-align:center;
	padding:5%;

	h2 {
		font-family: 'Nova Round', cursive;
		margin:0 auto 3rem;
		font-size: 3rem;
		@media (max-width:768px){
			margin:30px auto 40px;
		}
	}

	img {
    width:240px;
    height:auto;
    margin:30px 33px;
		display: inline-block;

		/*	&:nth-child(3n) {
			width:300px;
			height:auto;
		}

			&:nth-child(2n) {
			width:240px;
			height:auto;
		}*/
	}

}

.websites, .print, .email {
	img {
		width:250px;
		height:auto;

		margin:1rem;
		box-shadow: 1px 1px 1px #333;
	}
}

.recent-images {
	text-align:center;

	.gatsby-image-wrapper {
		margin:3rem;
	}

}




.contactme {

	padding:10%;
	background:url('https://res.cloudinary.com/jryandoherty/image/upload/v1670525303/graffiti_bottom_01_wcsfde.png')no-repeat bottom center/1250px;
	@media (max-width:992px){
		padding:10%;
	}

	.container-fluid {
		max-width:1170px;
	}

	.col-md-6 {
		margin-top:20px;
	}
	.btn-block {
		width:50%;
		float:right;
	}
	:required {

	}
	:focus {

	}
	label {
		font-weight:400;
	}

}

.contact-section {

	.row {
		margin-top:4rem;
	}

	h1 {
		margin-top: 2rem;
		margin-bottom: 0;
	}

	h2 {
		text-align: center;
	}

	a {
		font-size:1.24rem;
	}

}


footer {
	background: url('https://res.cloudinary.com/jryandoherty/image/upload/v1670525303/graffiti_bottom_02_ijass0.png')no-repeat top center,url('https://res.cloudinary.com/jryandoherty/image/upload/v1649268210/bg_brick_l0esqj.webp') $altblack;
	background-size:  1250px,cover;
	padding:2% 0;
	color:$white;
	font-size: .86em;
	/*margin-top:-12%;*/
	overflow:hidden;
	clear:both;
	@media(max-width:768px) {
		padding:10%;
	}



	nav {
		background:none;
		padding:0;
	}

	a {
		color:$cream;
		&:hover {
			color:$greenLight;
		}
	}

	.navbar-nav {

		@media(max-width:768px) {
			float:none;
			width:auto;
		}
	}

	.container {
		display: flex;
		align-items: center;
		justify-content: center;
		@media(max-width:768px) {
			flex-direction:column;
			width:100%;
			}
		}

.col-lg-4 {
	display: flex;
	flex-direction: column;
	@media(max-width:768px) {
		align-items: center;
		}

	a:hover{
		background:none;
		}

		div:nth-child(3){
			font-size:.78em;
			margin-top:12px;
		}
	}

	.col-lg-8 {
		@media(max-width:768px) {
		margin-top:30px;
			}
	}

	.col-lg-12 {
	 	@media(max-width:768px){
			text-align:center;
		}
		div:nth-child(4){
			font-size:.78em;
			margin-top:12px;
		}
	}

.recentWork {
  width: 126px;
  height: 126px;
		@media(max-width:768px){
			width: 108px;
			height: 108px;
		}
		@media(max-width:568px){
			width: 94px;
			height: 94px;
		}
}

.contact {
  width: 71px;
  height: 71px;
	margin: 32px 0 0 -49px;
	@media(max-width:768px){
		width: 108px;
		height: 108px;
	}
	@media(max-width:568px){
		width: 94px;
		height: 94px;
	}
}

.branding{
	width: 90px;
	height: 90px;
	margin:85px -10px 0 -45px;
	@media(max-width:768px){
		width: 108px;
		height: 108px;
	}
	@media(max-width:568px){
		width: 94px;
		height: 94px;
	}
}


} /* end footer */

.homepage .socials{
	display:none;
}

@import "files/navigation",
"files/form",
"files/pages",
"files/animations";
